{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}

{% block content %}
{% include 'layouts/header.html' %}
<main class="main-index">
    {% include 'layouts/messages.html' %}
    <section class="section-1">
        <div class="container-text-index-1">
            <h1>Build stronger digital <span>connections</span></h1>
            <p>
                Use our URL shortener, QR Codes to engage your audience and connect them to the
                right
                information. Build, edit, and track everything inside the URLTrim Connections Platform.
            </p>
            <a href="{% url 'signup' %}" class="btn-get-started">Get Started for Free</a>
        </div>
        <img src="{% static 'images/image-index-1.svg' %}" alt="Qr-image" class="image-index-qr">
    </section>

    <section class="section-2">
        <ul class="container-icons-section-2">
            <li>
                <figure>
                    <img src="{% static 'icons/url-icon.svg' %}" alt="url-icon" class="image-section-2-figure">
                    <figcaption class="container-text-section-2-figcaption">
                        Shorten links of any size in URLTrim
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{% static 'icons/free-icon.svg' %}" alt="free-icon" class="image-section-2-figure">
                    <figcaption class="container-text-section-2-figcaption">
                        Create as many links as you want and share them for free
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{% static 'icons/padlock-icon.svg' %}" alt="padlock-icon" class="image-section-2-figure">
                    <figcaption class="container-text-section-2-figcaption">
                        We use https protocol with data encryption in URLs
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{% static 'icons/statistics-icon.svg' %}" alt="statistics-icon"
                        class="image-section-2-figure">
                    <figcaption class="container-text-section-2-figcaption">
                        Verify the number of clicks on your shortened URL
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{% static 'icons/devices-icon.svg' %}" alt="devices-icon" class="image-section-2-figure">
                    <figcaption class="container-text-section-2-figcaption">
                        Compatible with any mobile device, tablet and computer
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <section class="section-3">
        <div class="container-text-section-3">
            <h1>
                The URLTrim Connections Platform
            </h1>
            <p>
                All the products you need to build brand connections, manage links and QR Codes, and connect with
                audiences everywhere,
                in a single unified platform.
            </p>

            <div class="container-card-section-3">
                <div class="card card-1">
                    <div class="container-img-section-3">
                        <img src="{% static 'icons/link-card-icon.svg'%}" alt="link-icond">
                        <h1>URL Shortener</h1>
                    </div>
                    <p class="text-explaind-card">
                        A comprehensive solution to help make every point of connection between your content and your
                        audience more powerful.
                    </p>
                    <div class="container-text-points-section-3">
                        <p>
                            <strong>
                                Popular Link Management Features
                            </strong>
                        </p>
                        <ul class="container-card-points">
                            <li>
                                URL shortening at scale
                            </li>
                            <li>
                                Custom links with your brand
                            </li>
                            <li>
                                URL redirects
                            </li>
                            <li>
                                Advanced analytics & tracking
                            </li>
                        </ul>
                    </div>
                    <a href="{% url 'signup' %}" class="link-card-section-3">Get Started for Free</a>
                </div>
                <div class="card card-2">
                    <div class="container-img-section-3">
                        <img src="{% static 'icons/qr-card-icon.svg' %}" alt="qr-icon">
                        <h1>QR Codes</h1>
                    </div>
                    <p class="text-explaind-card">
                        QR Code solutions for every customer, business and brand experience.
                    </p>
                    <div class="container-text-points-section-3">
                        <p>
                            <strong>
                                Popular QR Code Features
                            </strong>
                        </p>
                        <ul class="container-card-points">
                            <li>
                                Fully customizable QR Codes
                            </li>
                            <li>
                                Dynamic QR Codes
                            </li>
                            <li>
                                QR Code types & destination options
                            </li>
                            <li>
                                Advanced analytics & tracking
                            </li>
                        </ul>
                    </div>
                    <a href="{% url 'signup' %}" class="link-card-section-3">Get Started for Free</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <h1>Frequently Asked Questions</h1>
        <div class="container-questions">
            <details open class="detail detail-1">
                <summary class="summary">
                    ¿What is URLTrim?
                </summary>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, assumenda nisi ullam necessitatibus
                    repudiandae nihil vitae a maxime rerum? Ab est soluta mollitia facilis voluptates asperiores
                    assumenda tenetur numquam minima!
                </p>
            </details>

            <details class="detail">
                <summary class="summary">
                    ¿What is link shortening?
                </summary>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In commodi sint nostrum iste repellendus?
                    Cumque, eum inventore neque quibusdam dolore numquam quisquam, quis aperiam nulla eligendi
                    necessitatibus asperiores perferendis recusandae!
                </p>
            </details>
            <details class="detail">
                <summary class="summary">
                    ¿Why shorten urls?
                </summary>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nulla excepturi odit suscipit
                    incidunt amet facilis cupiditate at quae deserunt omnis ex praesentium eos veniam, molestias magni
                    nihil, odio est?
                </p>
            </details>
            <details class="detail">
                <summary class="summary">
                    What does a link shortener do?
                </summary>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, molestiae. Dolores eius, facere
                    quisquam quo quibusdam incidunt, aliquid inventore sapiente earum numquam magnam explicabo. Fuga
                    maiores sed officia ipsa laboriosam.
                </p>
            </details>
            <details class="detail">
                <summary class="summary">
                    ¿Is URLTrim easy to use?
                </summary>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eum fugiat unde tenetur nihil
                    reiciendis, maiores, pariatur aspernatur, blanditiis error beatae. Temporibus adipisci quia nemo
                    maxime soluta maiores esse debitis.
                </p>
            </details>
            <details class="detail">
                <summary class="summary">
                    ¿Is URLTrim completely free to use?
                </summary>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit unde, ipsa suscipit laborum eum
                    soluta ducimus adipisci maiores in deserunt modi nemo tenetur sunt quisquam tempore libero.
                    Similique, dolorum fuga!
                </p>
            </details>
        </div>
    </section>

    <section class="section-5">
        <h1>More than a free link shortener</h1>
        <a href="{% url 'signup' %}">Get Started</a>
    </section>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}