{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/forgot_password_form.css' %}" type="text/css">
{% endblock %}
{% block title %}Send email to password reset{% endblock %}

{% block content %}
{% include 'layouts/header.html' %}
<main class="main-forgot-password">
    {% include 'layouts/messages.html' %}
    {% if type == "send-email" %}
    <section class="section-1-send-email">
        <div class="container-text-password-reset">
            <h1>Password Reset</h1>
            <p>
                Please enter your email address to receive a link to reset your password.
            </p>
        </div>
        <form action="{% url 'forgot_password' %}" method="POST" class="form-send-email">
            {% csrf_token %}
            <input type="email" name="email" id="id_email" autocomplete="email" maxlength="254" required
                placeholder="Email" class="input-send-email" autofocus>
            <button type="submit" class="btn-send-email">Send email</button>
        </form>
    </section>
    {% else %}
    <section class="section-1-new-password">
        <div class="container-text-new-password">
            <h1>New password</h1>
            <p>Please enter the new password to save on your account</p>
        </div>
        <form action="{% url 'reset_password_confirm' %}" class="form-new-password" method="POST">
            {% csrf_token %}
            <input type="password" name="new_password1" id="id_new_password1" required autocomplete="new-password"
                placeholder="Password" class="input-new-password1" autofocus>
            <input type="password" name="new_password2" id="id_new_password2" required autocomplete="new-password"
                placeholder="Password confirm" class="input-new-password2">
            <button type="submit" class="btn-save-new-password">Save new password</button>
        </form>
    </section>
    {% endif %}
</main>
{% endblock %}