.main-forgot-password {
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}



/* SECTION SEND EMAIL */


.section-1-send-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container-text-password-reset>h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color1);
    font-weight: 600;
    margin: 0;
}

.container-text-password-reset>p {
    max-width: 275.08px;
    margin-top: 20px;
    text-align: left;
    font-size: 1.1rem;
    color: var(--text-100);
}

.form-send-email {
    width: 100%;
    max-width: 400px;
}

.input-send-email {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 7px 15px;
    border: 1px solid var(--bg-300);
    border-radius: 8px;
    line-height: 1.9rem;
    font-size: 1.1rem;
    background-color: white;
}

.input-send-email:focus {
    outline: none;
    border: 1px solid #00CA7D;
}

.input-send-email::placeholder {
    font-family: var(--dm-sans);
}

.btn-send-email {
    display: block;
    width: 100%;
    padding: 15px 0px;
    border: none;
    background-color: var(--text-color1);
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: var(--dm-sans);
    cursor: pointer;
}




/* SECTION ENTER NEW PASSWORD */

.section-1-new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container-text-new-password>h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color1);
    font-weight: 600;
    margin: 0;
}

.container-text-new-password>p {
    max-width: 275.08px;
    margin-top: 20px;
    text-align: left;
    font-size: 1.1rem;
    color: var(--text-100);
    text-align: center;
}

.form-new-password {
    width: 100%;
    max-width: 400px;
}

.input-new-password1,
.input-new-password2 {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 7px 15px;
    border: 1px solid var(--bg-300);
    border-radius: 8px;
    line-height: 1.9rem;
    font-size: 1.1rem;
    background-color: white;
}


.input-new-password1:focus,
.input-new-password2:focus {
    outline: none;
    border: 1px solid #00CA7D;
}

.input-new-password1::placeholder,
.input-new-password2::placeholder {
    font-family: var(--dm-sans);
}

.btn-save-new-password {
    display: block;
    width: 100%;
    padding: 15px 0px;
    border: none;
    background-color: var(--text-color1);
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: var(--dm-sans);
    cursor: pointer;
}