input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


.section-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.container-url-home {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--text-100);
    font-family: var(--dm-sans);
}

.container-url-home>span>a {
    text-decoration: none;
    color: #00CA7D;
    font-weight: 700;
    font-family: var(--asap);
}

.container-btn-google {
    width: 100%;
    max-width: 450px;
}

.btn-google {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid rgb(151, 151, 151);
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(131, 131, 131);
    max-width: 275.85px;
    transition: .3s;
}

.btn-google:hover {
    border: 1px solid rgb(88, 88, 88);
    color: var(--text-100);
}


.text-or-signin {
    text-align: center;
    color: gray;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}


.text-or-signin::before {
    display: flex;
    content: "";
    height: 1px;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(196, 196, 196);
    z-index: 1;
}


.text-or-signin::after {
    display: flex;
    content: "";
    height: 1px;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(196, 196, 196);
    z-index: 1;
}

.form-signin {
    width: 100%;
    max-width: 500px;
}

input {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 7px 15px;
    border: 1px solid var(--bg-300);
    border-radius: 8px;
    line-height: 1.9rem;
    font-size: 1.1rem;
    background-color: white;
}

input:focus {
    outline: none;
    border: 1px solid #00CA7D;
}

input::placeholder {
    font-family: var(--dm-sans);
}

.btn-login {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 15px 0;
    font-size: 1.2rem;
    font-family: var(--dm-sans);
    border: none;
    background-color: var(--text-color1);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


.link-forgot-password {
    display: block;
    margin-top: 20px;
    text-align: right;
    color: var(--text-color1);
    font-family: var(--dm-sans);
}


.text-btn-signup {
    color: var(--text-100);
    font-family: var(--dm-sans);
}

.text-btn-signup>a {
    text-decoration: none;
    color: var(--text-color1);
    font-weight: 600;
}