.main-create-url {
    border-top: 1px solid var(--bg-300);
    position: relative;
}


.section-1 {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 0;
}

.section-1>h1 {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--dm-sans);
    color: var(--text-100);
}

.form-create-url>div>label {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text-100);
    width: fit-content;
}


.container-text-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-original-url {
    display: block;
    font-weight: 600;
    color: var(--text-100);
    width: fit-content;
}

.container-text-create>p {
    width: fit-content;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    font-family: var(--dm-sans);
}

.container-text-create>p>span {
    padding: 4.6px 10px;
    border-radius: 4.6px;
    background-color: #f2fcf8;
    font-size: 0.89rem;
    font-weight: 800;
    color: var(--text-100);
}

.form-create-url>div>input {
    width: 100%;
    display: block;
    margin-top: 10px;
    padding: 7px 15px;
    border: 1px solid var(--bg-300);
    border-radius: 8px;
    line-height: 1.9rem;
    font-size: 1.1rem;
    background-color: white;
}

.form-create-url>div>input:focus {
    outline: none;
    border: 1px solid #00CA7D;
}

.form-create-url>div>input::placeholder {
    font-family: var(--dm-sans);
}

.container-custom-url-short {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.container-custom-url-short>div {
    width: 50%;
    margin-top: 10px;
}


.container-custom-url-short>span {
    align-self: self-end;
    height: 100%;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: var(--text-100);
    font-weight: 600;
}

.container-custom-url-short>div>label {
    display: block;
    margin-top: 20px;
    color: var(--text-100);
    font-weight: 600;

}

.container-custom-url-short>div>input {
    width: 100%;
    display: block;
    margin-top: 10px;
    padding: 7px 15px;
    border: 1px solid var(--bg-300);
    border-radius: 8px;
    line-height: 1.9rem;
    font-size: 1.1rem;
    background-color: white;
}

.container-custom-url-short>div>input:focus {
    outline: none;
    border: 1px solid #00CA7D;
}


.container-custom-url-short>div>input::placeholder {
    font-family: var(--dm-sans);
}

.btn-create-link {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0;
    padding: 11px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--dm-sans);
    border: none;
    background-color: var(--text-color1);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}