.main-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}


.figure>img {
    width: 400px;
}

.figure>figcaption {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: var(--dm-sans);
    color: var(--text-color2);
    font-weight: 700;
}