{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all_url_links.css' %}">
{% endblock %}
{% block title%}URLTrim | Links{% endblock %}

{% block content %}
{% include 'layouts/header.html' %}
<main class="main-all-links">
    {% include 'layouts/messages.html' %}
    <section class="section-1">
        <div class="container-filters">
            <h1>Links</h1>
        </div>

        <ul class="container-list-links">
            {% for data_url in data_urls %}
            <li>
                <img src="{{data_url.icon}}" alt="Icon site">
                <div class="container-text-links">
                    <div class="container-title">
                        <h3>{{data_url.title}}</h3>
                        <div class="dropdown-link-options" onclick="toggleDropdownOptions('{{forloop.counter}}')">
                            <button class="dropbtn-link-options">
                                <img src="{% static 'icons/options_icon.svg' %}" alt="Options_icon">
                            </button>
                            <div class="dropdown-content-link-options" id="myDropdown-link-options{{forloop.counter}}">
                                <a href="{% url 'edit_url' data_url.short_url %}">
                                    <img src="{% static 'icons/edit_icon.svg' %}" alt="qr-icon">
                                    Edit
                                </a>
                                <a href="{% url 'delete_url' data_url.id %}">
                                    <img src="{% static 'icons/delete_icon.svg' %}" alt="qr-icon">
                                    Delete
                                </a>
                            </div>
                            <script src="{% static 'js/dropdown_link_options.js' %}"></script>

                        </div>
                    </div>

                    <a href="{{data_url.redirect_original_url}}" target="_blank">{{domain}}/{{data_url.short_url}}</a>
                    <a href="{{data_url.original_url}}">{{data_url.original_url}}</a>
                    <div class="content-analytic-data">
                        <div class="div-click">
                            <img src="{% static 'icons/click_icon.svg' %}" alt="click-icon">
                            <span>Clicks: {{data_url.clicks}}</span>
                        </div>
                        <div class="div-date">
                            <img src="{% static 'icons/calendar_icon.svg' %}" alt="calendar-icon">
                            <span>{{data_url.created}}</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}