{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title%}URLTrim | Links{% endblock %}

{% block content %}
{% include 'layouts/header.html' %}
<main>
    {% for data_url in data_urls %}
    <div>
        <p>{{data_url.title}}</p>
        <a href="{{data_url.redirect_original_url}}" target="_blank">{{domain}}/{{data_url.short_url}}</a>
        <img src="{{data_url.icon}}" alt="">
        <p>{{data_url.created}}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}