body {
    background-color: var(--bg-color-1);
}

.main-all-links {
    position: relative;
}

.section-1 {
    padding: 40px 0;
}

.container-filters>h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--dm-sans);
    color: var(--text-100);

    width: fit-content;
    border-bottom: 2px solid var(--text-100);
}


.container-list-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container-list-links>li {
    display: flex;
    height: 204px;
    align-items: start;
    margin-top: 30px;
    padding: 35px 20px;
    border-radius: 8px;
    background-color: white;
}

.container-text-links {
    width: 100%;
}

.container-list-links>li>img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 20px;
}

/* TITULO DE VIDEO */

.container-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
}


.container-title>h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: var(--text-100);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* DROPDOWN CREATE  */
.dropdown-link-options {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropdown-content-link-options {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    width: 100%;
    box-shadow: 0px 0px 10px #ebebeb,
        0px 0px 10px #e4e4e4;
    z-index: 1;
    border-radius: 8px;
    right: 0px;
}

.dropdown-content-link-options a {
    color: var(--text-100);
    padding: 15px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--dm-sans);
    transition: background-color .2s;
}

.dropdown-content-link-options a:hover {
    background-color: var(--text-100);
    color: white;
}

.dropdown-content-link-options a:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown-content-link-options a:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown-content-link-options>a>img {
    width: 20px;
}

.dropdown-link-options.open .dropdown-content-link-options {
    display: block;
    margin-left: -85px;
    margin-top: 10px;
}

.dropbtn-link-options {
    display: block;
    width: fit-content;
    border-radius: 50%;
    border: none;
    margin: 0;
    background-color: inherit;
}

.dropbtn-link-options {
    display: block;
    width: fit-content;
    border-radius: 50%;
    border: none;
    margin: 0;
    background-color: inherit;
}



.container-text-links>a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

.container-text-links>a:nth-child(2) {
    color: var(--text-color1);
    font-weight: 600;
}

.container-text-links>a:nth-child(2):hover {
    text-decoration: underline;
}


.container-text-links>a:nth-child(3) {
    color: var(--text-100);
}

.container-text-links>a:nth-child(3):hover {
    text-decoration: underline;
}

.content-analytic-data {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}


.content-analytic-data>div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.content-analytic-data>div>span {
    font-size: 0.89rem;
    color: var(--text-100);
}